<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>TODO List</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">

    <!-- Example Code -->
    
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">index</th>
          <!-- <th scope="col">sender</th> -->
          <th scope="col">description</th>
          <th scope="col">flag</th>
          <th scope="col">log</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0;i < evts.length;i++){ %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= evts[i]._index %></td>
            <!-- <td><%= evts[i]._sender %></td> -->
            <td><%= evts[i]._description %></td>
            <td><%= evts[i]._flag %></td>
            <td><%= evts[i]._log %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    
    <!-- End Example Code -->
  </body>
</html>